.swp
.~
project.lock.json
.DS_Store
.pyc

# Visual Studio Code
.vscode

# User-specific files
.suo
.user
.userosscache
.sln.docstates

# Build results
[Dd]ebug
[Dd]ebugPublic
[Rr]elease
[Rr]eleases
x64
x86
build
bld
[Bb]in
[Oo]bj
msbuild.log
msbuild.err
msbuild.wrn

.vs

#Ignore Dataset Files(too large to be pushed on github)
WatchsterSolution/Watchster.MLUtil/Data/tag.csv
WatchsterSolution/Watchster.MLUtil/Data/rating.csv
WatchsterSolution/Watchster.MLUtil/Data/movie.csv
WatchsterSolution/Watchster.MLUtil/Data/link.csv
WatchsterSolution/Watchster.MLUtil/Data/genome_tags.csv
WatchsterSolution/Watchster.MLUtil/Data/genome_scores.csv
WatchsterSolution/Watchster.Application/Utils/ML/Data/MovieRecommenderModel.zip
