<h2 class="content-block">Profile</h2>

<div class="content-block dx-card responsive-paddings">
  <div class="form-avatar">
    <img src="../../../assets/images/yet-another-avatar-image.png"/>
  </div>
  <span>Todo: Add Description</span>
</div>

<div class="content-block dx-card responsive-paddings">
  <dx-form
    [formData]="user"
    labelLocation="top"
    [colCountByScreen]="colCountByScreen">

    <dxi-item 
      dataField="id"
      [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <dxi-item 
      dataField="email">
    </dxi-item>
    <dxi-item 
      dataField="registrationDate"
      [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <dxi-item 
      dataField="isSubscribed">
    </dxi-item>
    <dxi-item 
      dataField="numberOfTotalGivenRatings"
      [editorOptions]="{ readOnly: true }">
    </dxi-item>
    <!-- <dxi-item 
      dataField="isSubstribed" 
      editorType="dxLookup" 
      [template]="'lookUpTemplate'">
    </dxi-item> -->
    <!-- <div *dxTemplate="let data of 'lookUpTemplate'">  
      <dx-lookup  
        [items]='subscriptions' 
        title='Test Title' 
      >
      </dx-lookup>
    </div> -->
    
  </dx-form>
</div>
